sar_clip/model_configs/ViT-L-14/models--BiliSakura--SARCLIP-ViT-L-14/refs/main
sar_clip/model_configs/ViT-L-14/models--BiliSakura--SARCLIP-ViT-L-14/snapshots/fd6c03457e79e65285acf0045f63ce6bc485650f/model.safetensors
sar_clip/model_configs/ViT-L-14/models--BiliSakura--SARCLIP-ViT-L-14/.no_exist/fd6c03457e79e65285acf0045f63ce6bc485650f/open_clip_pytorch_model.bin
sar_clip/data.py
sar_clip/loss.py
sar_clip/model.py
sar_clip/utils.py
sar_clip/convert.py
sar_clip/factory.py
sar_clip/version.py
sar_clip/__init__.py
sar_clip/hf_model.py
sar_clip/constants.py
sar_clip/pos_embed.py
sar_clip/tokenizer.py
sar_clip/transform.py
sar_clip/coca_model.py
sar_clip/hf_configs.py
sar_clip/pretrained.py
sar_clip/timm_model.py
sar_clip/transformer.py
sar_clip/modified_resnet.py
sar_clip/model_configs/RN50.json
sar_clip/zero_shot_classifier.py
sar_clip/model_configs/RN101.json
sar_clip/model_configs/RN50/model
sar_clip/model_configs/RN101/model
sar_clip/model_configs/ViT-B-16.json
sar_clip/model_configs/ViT-B-32.json
sar_clip/model_configs/ViT-L-14.json
sar_clip/bpe_simple_vocab_16e6.txt.gz
sar_clip/model_configs/ViT-B-16/model
sar_clip/model_configs/ViT-B-32/model
sar_clip/model_configs/ViT-L-14/model
